<h1> {{ page.title }} </h1>
<div>
{{ page.content }}
</div>

{% form 'contact' %}
  {{ form.errors | default_errors }}

  <div class="first-name">
    <label for="first-name">Name</label>
    <input type="text" name="contact[first_name]" id="first-name" />
  </div>

  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="contact[email]" />
  </div>

  <div class="order-number">
    <label for="order-number">Order number</label>
    <input type="text" name="contact[order_number]"/>
  </div>

<div class="Test">
    <label for="order-number">Test</label>
    <input type="text" name="contact[order_number]"/>
  </div>

  <div class="message">
    <label for="message">Message</label>
    <textarea name="contact[body]" id="message"></textarea>
  </div>

  <div class="submit">
    <input type="submit" value="Create" />
  </div>
{% endform %}
